.category{
 
  display: flex;
  justify-content: center;

}
.name{
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.bio{
  background-color: #eee;
  display: flex;
  justify-content: center;

}

.profession{
  background-color: #eee;
  display: flex;
  justify-content: center;


}
